/*** C O L O R S
    #3e5a66
    #870D27
***/

/***********************************************    fonts    ****************************************************/
/* Open sans	     >> content */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url('./font/open-sans-light.woff') format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url('./font/open-sans.woff') format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url('./font/open-sans-bold.woff') format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url('./font/open-sans-extrabold.woff') format('woff');
}
@font-face {
    font-family: 'Roboto Condensed Light';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url('./font/roboto-condensed-light.woff') format('woff');
}
@font-face {
    font-family: 'Roboto Condensed Regular';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url('./font/roboto-condensed-regular.woff') format('woff');
}
@font-face {
    font-family: 'Roboto Condensed Light Italic';
    font-style: italic;
    font-weight: 300;
    src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'), url('./font/roboto-condensed-light-italic.woff') format('woff');
}
@font-face{
    font-family:'Asap';
    font-style:normal;
    font-weight:400;
    src:local('Asap'),local('Asap-Regular'),url('./font/asap.woff') format('woff');
}
@font-face{
    font-family:'Asap Italic';
    font-style:italic;
    font-weight:400;
    src:local('Asap Italic'),local('Asap-Italic'),url('./font/asap-italic.woff') format('woff');
}

/* Istok Web  		 >> link */
@font-face {
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 400;
    src: local('Istok Web Regular'), local('IstokWeb-Regular'), url('./font/istok-web-regular.woff') format('woff');
}
@font-face {
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 700;
    src: local('Istok Web Bold'), local('IstokWeb-Bold'), url('./font/istok-web-bold.woff') format('woff');
}
@font-face {
    font-family: 'Istok Web';
    font-style: italic;
    font-weight: 400;
    src: local('Istok Web Italic'), local('IstokWeb-Italic'), url('./font/istok-web-italic.woff') format('woff');
}
@font-face {
    font-family: 'Istok Web';
    font-style: italic;
    font-weight: 700;
    src: local('Istok Web Bold Italic'), local('IstokWeb-BoldItalic'), url('./font/istok-web-bold-italic.woff') format('woff');
}

/* PT sans    		 >> title / heading / menu */
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'), url('./font/pt-sans.woff') format('woff');
}
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: local('PT Sans Bold'), local('PTSans-Bold'), url('./font/pt-sans-bold.woff') format('woff');
}
@font-face {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 400;
    src: local('PT Sans Italic'), local('PTSans-Italic'), url('./font/pt-sans-italic.woff') format('woff');
}
@font-face {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 700;
    src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url('./font/pt-sans-bold-italic.woff') format('woff');
}

/* Ubuntu Mono		 >> input */
@font-face {
    font-family: 'Ubuntu Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url('./font/ubuntu-mono.woff') format('woff');
}
@font-face {
    font-family: 'Ubuntu Mono';
    font-style: normal;
    font-weight: 700;
    src: local('Ubuntu Mono Bold'), local('UbuntuMono-Bold'), url('./font/ubuntu-mono-bold.woff') format('woff');
}
@font-face {
    font-family: 'Ubuntu Mono';
    font-style: italic;
    font-weight: 400;
    src: local('Ubuntu Mono Italic'), local('UbuntuMono-Italic'), url('./font/ubuntu-mono-italic.woff') format('woff');
}
@font-face {
    font-family: 'Ubuntu Mono';
    font-style: italic;
    font-weight: 700;
    src: local('Ubuntu Mono Bold Italic'), local('UbuntuMono-BoldItalic'), url('./font/ubuntu-mono-bold-italic.woff') format('woff');
}
/***********************************************    end fonts    ****************************************************/
/*
Open sans	     >> content
Ubuntu Mono		 >> input
PT sans    		 >> title / heading / menu
Istok Web  		 >> link
*/


/* icons
http://www.google.ro/imgres?imgurl=http://semlabs.co.uk/assets/img/content/web_design_icon_pack01.png&imgrefurl=http://semlabs.co.uk/journal/free-web-design-icon-set&h=580&w=520&sz=55&tbnid=E5FORtvoB5mApM:&tbnh=90&tbnw=81&zoom=1&usg=__Pp7f4hlbt6e7DQt_lzVO_w3Ssb8=&docid=_RzGJBk_JlAFVM&hl=ro&sa=X&ei=BaJ5UdmQFMmSO5ipgNAP&ved=0CC8Q9QEwAA&dur=454
*******************************************************************************************************/

.icon{margin: 0 auto; padding: 0; display: block; background-repeat: no-repeat;}

.icon-right-arrow{
    width: 20px;
    height: 20px;
    background: url('../images/icons/icon_pack_01.png') 338px -11px;
}

.icon-yellow-bulb{
    width: 16px;
    height: 15px;
    background: url('../images/icons/icon_pack_01.png') -45px -44px;
    margin-top: 4px;
}
.icon-pdf{
    width:16px;
    height:16px;
    background: url('../images/icons/pdf.gif');
}

.icon-word{
    width:16px;
    height:16px;
    background: url('../images/icons/word.gif');
}

.icon-excel{
    width:16px;
    height:16px;
    background: url('../images/icons/excel.gif');

}

.icon-english-20{
    width: 20px;
    height: 20px;
    background: url('../images/icons/english-20x20.png'); }

.icon-deutsch-20{
    width: 20px;
    height: 20px;
    background: url('../images/icons/deutsch-20x20.png');
}
.icon-french-20{
    width: 20px;
    height: 20px;
    background: url('../images/icons/french-20x20.jpg');
}

.icon-paper-gray{
    width: 17px;
    height: 16px;
    background: url('../images/icons/icon_pack_01.png') -459px -12px;
}
/* ends icons
*******************************************************************************************************/


/**************************************************************************************************************************************************************
                                                                Header MENU
*************************************************************************************************************************************************************
*************************************************************************************************************************************************************/

/* GENERAL
-----------------------------------------------------------------------------------------------------------------------------*/
body {}

.container_full{ margin-left: auto; margin-right: auto; -webkit-box-shadow: 0px -4px 7px rgba(0,0,0,.2); -moz-box-shadow: 0px -4px 7px rgba(0,0,0,.2); box-shadow: 0px -4px 7px rgba(0,0,0,.2); }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{text-decoration: none;}
small {font-size: 11px;}
video {width: 100%;height: auto;}

/*Misc Classes
-------------------*/
.align_center 	{text-align: center;}
.align_right 	{text-align: right;}
.float_left	{float: left;}
.float_right	{float: right;}



/* Clear Floated Elements
---------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
.clear {clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0;}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
.clearfix:before,.clearfix:after,.container_12:before,.container_12:after {content: '.'; display: block; overflow: hidden; visibility: hidden; font-size: 0; line-height: 0; width: 0; height: 0;}

.clearfix:after,.container_12:after 			{clear: both;}
/*.clearfix,.container_12,.container_full 	{zoom: 1;}*/

/* Header
--------------*/
#header_wrapper	{background: url('../images/pattern/header_pattern2.png');}
#header				{margin: 0 auto; position: relative; -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1); box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1); z-index: 9000;}
.withSlider				{padding: 0 !important;}
.withSlider #header{position: absolute; top:40px;left: 50%; margin-left: -470px;}
#logo img				{max-width: 135px;}
.home-icon{width:35px;margin-top:-7px;}

/*Main Menu*/
ul#mainmenu
{
    top:50%;
    right: 0;
    margin: -30px 0 0 0;
    padding: 0 50px 0 0;
    position: absolute;

    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
}
ul#mainmenu li														{position: relative; display: inline; float: left; list-style-type: none;}
ul#mainmenu > li a												{border: 0; font-size: 18px; line-height: 1em; display: block; text-decoration: none;}
ul#mainmenu > li:first-child{
	height: 60px;
	padding-left: 25px !important;
	overflow: hidden;
}
ul#mainmenu > li:first-child:before, .mobile_link:before{
	content: "";
	position: absolute;
	width: 120px;
	height: 120px;
	-webkit-border-radius: 120px;
	-moz-border-radius: 120px;
	border-radius: 120px;
	top:-30px;
	left: -110px;
	-moz-box-shadow: 3px 0px 9px rgba(0,0,0,0.1);
	-webkit-box-shadow: 3px 0px 9px rgba(0,0,0,0.1);
	box-shadow: 3px 0px 9px rgba(0,0,0,0.1);
}

.mobile_link{display: none !important;}

.search_bar{
	top:50%;
	margin-top: -30px;
	position: absolute;
	overflow: hidden;
	width: 30px;
	height: 60px;
    right: -0.5px;
	padding-left: 20px;
	-webkit-transition: width .2s ease;
	-moz-transition: width .2s ease;
	-ms-transition: width .2s ease;
	-o-transition: width .2s ease;
	transition: width .2s ease;
}
.search_bar:hover{
	width: 140px;
}
.search_bar input[type="text"]	{
	border: 0;
	padding: 0;
	margin: 0;
	background: none;
	text-align: center;
	position: relative;
	font-size: 12px;
	width: 100px;
	height: 60px;
	left: 0;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
}
.search_button{
	position: absolute;
	text-indent: -1000em;
	cursor: pointer;
	-webkit-border-radius: 0;
	width: 30px;
	height: 60px;
	right: 0;
	top: 0;
	display: block;
}
.search_bar:before{
	content: "";
	position: absolute;
	width: 150px;
	height: 120px;
	-webkit-border-radius: 120px;
	-moz-border-radius: 120px;
	border-radius: 120px;
	top:-30px;
	left: 12px;
	-moz-box-shadow: -3px 0px 9px rgba(0,0,0,0.1);
	-webkit-box-shadow: -3px 0px 9px rgba(0,0,0,0.1);
	box-shadow: -3px 0px 9px rgba(0,0,0,0.1);
}

/* Sub Menu NextLevel*/
ul#mainmenu li ul				{position: absolute; left: -40px; display: block; visibility: hidden; z-index: 9999;}
ul#mainmenu li ul li				{display: list-item; float: none; min-width: 140px; white-space: nowrap; margin: 0; list-style-type: none; left: -40px; width: auto; } /**/
ul#mainmenu li ul li ul li			{display: list-item; float: none; min-width: 140px; white-space: nowrap; margin: 0; list-style-type: none; left: 0px; width: auto } /**/
ul#mainmenu li ul li ul li ul li	{display: list-item; float: none; min-width: 140px; white-space: nowrap; margin: 0; list-style-type: none; left: -40px; width: 180px; } /**/
ul#mainmenu li ul li ul				{top: 0; width: 180px; }
ul#mainmenu li ul li a				{font-size: 14px; font-weight: 400; line-height: 1em; border-top-width: 0; text-transform: none; padding: 12px;}


/* Sub Menu*/
/*
ul#mainmenu li ul				{position: absolute; left: -40px; display: block; visibility: hidden; z-index: 9999;}
ul#mainmenu li ul li				{display: list-item; float: none; min-width: 180px; white-space: nowrap; margin: 0; list-style-type: none; left: -40px; width: 140px; }
ul#mainmenu li ul li ul				{top: 0; width: 180px; }
ul#mainmenu li ul li a				{font-size: 14px; font-weight: 400; line-height: 1em; border-top-width: 0; text-transform: none; padding: 12px;}
*/
/*Page Navigation*/
ul.page_navigation							{padding: 0;margin: 0 0 30px 0;float: left;}
ul.page_navigation li						{float: left;margin: 0 5px 0 0;padding: 0;list-style-type: none;}
ul.page_navigation li a						{font-size: 11px;font-weight: bold;display: block;text-decoration: none;min-width: 25px;height: 25px;line-height: 25px;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;text-align: center;}
ul.page_navigation li a.next_page		{background-position: -20px 5px;}


/* End General
-----------------------------------------------------------------------------------------------------------------------------*/

/* DESKTOP
-----------------------------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 980px){

body {min-width: 960px;}

/* Containers
------------------*/
.container_12 	{margin-left: auto; margin-right: auto; width: 960px;}
.container_full	{max-width: 1000px; min-width: 960px;}

/* Grid >> Global
--------------------------*/
.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12 {display: inline; float: left; margin-left: 10px; margin-right: 10px;}

/* Grid >> Children (Alpha ~ First, Omega ~ Last, Lambda ~ Center)
---------------------------------------------------------------------------------------*/
.alpha 	{margin-left: 0;}
.omega 	{margin-right: 0;}

/* Grid >> 12 Columns
------------------------------*/
.container_12 .grid_1 	 {width: 60px;}
.container_12 .grid_2 	 {width: 140px;}
.container_12 .grid_3 	 {width: 220px;}
.container_12 .grid_4 	 {width: 300px;}
.container_12 .grid_5 	 {width: 380px;}
.container_12 .grid_6 	 {width: 460px;}
.container_12 .grid_7 	 {width: 540px;}
.container_12 .grid_8 	 {width: 620px;}
.container_12 .grid_9 	 {width: 700px;}
.container_12 .grid_10 {width: 780px;}
.container_12 .grid_11 {width: 860px;}
.container_12 .grid_12 {width: 940px;}

/* Header
-------------*/
#header_wrapper	{position: relative; padding: 0;}
#header				{width: 1000px;}

/* Main Menu*/
#header #logo			{padding: 15px 10px; position: relative;}
ul#mainmenu > li		{height: 60px; padding: 0; margin: 0; float: left; position: relative;}
ul#mainmenu > li > a	{height: 18px; padding: 21px;}

.mobile_link								{display: none;}
ul#flickrfeed li:nth-child(3n)			{padding-right: 0;}

/* Container
-----------------*/

}
#mainmenu ul{ left: -40px; }
/* End DESKTOP
-----------------------------------------------------------------------------------------------------------------------------*/


/* TABLETS
-----------------------------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 760px) and (max-width: 979px){

body {min-width: 720px;}

/* Containers
------------------*/
.container_12 	{margin-left: auto; margin-right: auto; width: 720px;}
.container_full	{max-width: 760px; min-width: 720px;}

/* Grid >> Global
------------------------*/
.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12 {display: inline; float: left; margin-left: 10px; margin-right: 10px;}

/* Grid >> Children (Alpha ~ First, Omega ~ Last)
---------------------------------------------------------------*/
.alpha 	{margin-left: 0;}
.omega 	{margin-right: 0;}

/* Grid >> 12 Columns
------------------------------*/
.container_12 .grid_1 	 {width: 40px;}
.container_12 .grid_2 	 {width: 100px;}
.container_12 .grid_3 	 {width: 160px;}
.container_12 .grid_4 	 {width: 220px;}
.container_12 .grid_5 	 {width: 280px;}
.container_12 .grid_6 	 {width: 340px;}
.container_12 .grid_7 	 {width: 400px;}
.container_12 .grid_8 	 {width: 460px;}
.container_12 .grid_9 	 {width: 520px;}
.container_12 .grid_10 {width: 580px;}
.container_12 .grid_11 {width: 640px;}
.container_12 .grid_12 {width: 700px;}

/* Clear Floated Elements
---------------------------------*/

/* http://sonspring.com/journal/clearing-floats */
.clear {clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0;}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
.clearfix:before,.clearfix:after,.container_12:before,.container_12:after { content: '.'; display: block; overflow: hidden; visibility: hidden; font-size: 0; line-height: 0; width: 0; height: 0;}
.clearfix:after,.container_12:after 														{clear: both;}
/*.clearfix,.container_12 																	{zoom: 1;}*/


/* Header
---------------*/
#header_wrapper	{position: relative; padding: 40px 0;}
#header				{width: 747px;}
#header #logo		{padding: 15px 10px; position: relative; width: 135px;}
.withSlider #header{margin-left: -360px;}

ul#mainmenu > li	{height: 60px; padding: 0; margin: 0; float: left; position: relative;}

.mobile_link				{display: none;}
ul#mainmenu > li > a	{ height: 18px; padding: 21px 14px;}

/* Container
-------------------*/

}
/* End TABLETS
-----------------------------------------------------------------------------------------------------------------------------*/

/* MOBILE
-----------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 759px) {

.container_full{margin: 0; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}

.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12 {
	margin-left: 10px; margin-right: 10px;
}

.alpha,.omega,.lambda 		{ margin-left: 0; margin-right: 0;}
.align_center,.align_right 		{text-align: left;}
.float_left							{float: none;}
.float_right							{float: none;}

/* Header
--------------*/
#header_wrapper	{position: relative; padding:0;}
#header				{width: 100%; margin: 0 auto; }
#header #logo		{padding: 15px 10px;position: relative;width: 135px;}
.withSlider #header{position: relative; left: 0; top: 0; margin: 0 auto;}

ul#mainmenu li		{height: 60px; padding: 0; margin: 0; float: left; position: relative; display: none;}
ul#mainmenu li a	{height: 12px; padding: 24px 8px;}

.mobile_link{width: 70px; height: 60px; overflow: hidden; display: block !important;}
.mobile_link .navi{ font-size: 12px; line-height: 18px; font-weight:bold; -webkit-appearance: none; -moz-appearance: none; appearance: none; border: 0; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; width: 120px; margin: 0 10px; padding: 20px 0 20px 20px; border-radius: 0;}
.mobile_link .navi option{color: #555;}

}

@media only screen and (max-width: 479px) {
	#header #logo					{margin: 0;}
}

/* End MOBILE
-----------------------------------------------------------------------------------------------------------------------------*/



/* blue css
***********************************************************************************************************************************/
/*Main*/
body {color: #555;}
.container_full	{ background-color: #fff; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{color: #333;}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover	{color: #4184CC;}
a{color: #4184CC;}
a:hover	{color: #333;}

/*Main Menu*/
#logo {background:url('../images/fils_logo.png') no-repeat 10px 20px;}
#logo img{opacity: 0;}


#header	{background-color: #fefefe;}
ul#mainmenu > li a.active	{
    background: #3a76b2; /* Old browsers */
    background: -moz-linear-gradient(top,  #3e5a66 0%, #293c44 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3e5a66), color-stop(100%,#293c44)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #3e5a66 0%,#293c44 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #3e5a66 0%,#293c44 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #3e5a66 0%,#293c44 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #3e5a66 0%,#293c44 100%); /* W3C */
}

ul#mainmenu > li a{color: #fff;}
ul#mainmenu > li a:hover,ul#mainmenu > li a.hover {background: #444;}

/*Menu Gradient Color*/
#header,ul#mainmenu > li:first-child:before,.search_bar:before, .mobile_link:before{
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #fcfcfc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#fcfcfc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#fcfcfc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#fcfcfc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#fcfcfc 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#fcfcfc 100%); /* W3C */
}
ul#mainmenu{
    min-width: 786px;
    max-width: 786px;
    background: #5da1c9; /* Old browsers */
    background: -moz-linear-gradient(top,  #527787 0%, #3e5a66 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#527787), color-stop(100%,#3e5a66)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #527787 0%,#3e5a66 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #527787 0%,#3e5a66 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #527787 0%,#3e5a66 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #527787 0%,#3e5a66 100%); /* W3C */
}

/*Search Bar*/
.search_bar input[type="text"]					{color: #666;}
.search_bar .search_button	{ display: block; background: url('../images/icons/search_icon.png') no-repeat 4px 22px #fcfcfc;}

/*Header Text*/
.header_text	{background-color: #f3f3f3; border-top: 1px solid #dadada; border-bottom: 1px solid #dbdbdb;}

/*Sub Menu*/
ul#mainmenu li ul li a				{border-bottom: 1px solid #555; background-color: #444; color: #b7b7b7;}
ul#mainmenu li ul li a:hover		{color: #fff;}

/*Side Navigation*/
ul.side_navigation li															{border-bottom: 1px solid #f3f3f3;}
ul.side_navigation li a														{color: #505050;}
ul.side_navigation li a:hover, ul.side_navigation span:hover	{color: #4184CC;}
ul.sidebar_cat li																{border-bottom: 1px solid #f3f3f3;}
ul.sidebar_cat li a															{color: #505050;}
ul.sidebar_cat li a:hover													{color: #4184CC;}

/*Divider Page*/
.divider_page a				{color: #484848;}
.divider_page a:hover		{color: #4184CC;}

/*Divider Navi*/
.heading_button .prev_button, .heading_button .next_button						{background: url('../images/icons/camera_slider_icons.png') no-repeat 4px 2px #505050;}
.heading_button .prev_button:hover, .heading_button .next_button:hover		{background-color: #5686b7;}
.heading_button .next_button																	{background-position: -23px 2px;}

/*Form Elements*/
.input-text	{color: #444; border: 1px solid #eaeaea;}
.text-area	{color: #444; border: 1px solid #eaeaea;}

/*Page404*/
.heading_404	{text-shadow: 1px 1px #fff, 4px -4px #d3d3d3; color: #4e4e4e;}
.search_btn			{background: none; background: url('../images/icons/search.png') no-repeat 8px 8px #5686b7;}
.search_btn:hover	{background-color: #444;}

/*Filter Options*/
.filter_options ul li:hover .heading		{background-color: #444; color: #fff;}
.filter_options ul li:hover .number		{background-color: #333; border-left: 1px solid #333; color: #fff;}
.filter_options ul li .heading				{background-color: #f3f3f3;}
.filter_options ul li .number				{border-left: 1px solid #e0e0e0; background-color: #f3f3f3;}
.filter_options ul li.active .heading		{background-color: #82c2e7; color: #fff;}
.filter_options ul li.active .number		{
    background: #5686b7; /* Old browsers */
    background: -moz-linear-gradient(top,  #5da1c9 0%, #5686b7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5da1c9), color-stop(100%,#5686b7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #5da1c9 0%,#5686b7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #5da1c9 0%,#5686b7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #5da1c9 0%,#5686b7 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #5da1c9 0%,#5686b7 100%); /* W3C */
    border-left: 1px solid #5196be;
    color: #fff;
}
input[name="filter_key"]					{color: #666;}


/*Page Navigation*/
ul.page_navigation li a																							{color: #fff;background-color: #505050;}
ul.page_navigation li a:hover, ul.page_navigation li a.active										{background-color: #5686b7;}
ul.page_navigation li a.more_page																		{background-color: #fff;color: #505050;}
ul.page_navigation li a.next_page, ul.page_navigation li a.prev_page						{background: url('../images/icons/camera_slider_icons.png') no-repeat 7px 5px #505050;}
ul.page_navigation li a.next_page:hover, ul.page_navigation li a.prev_page:hover		{background-color: #5686b7;}
ul.page_navigation li a.passive, ul.page_navigation li a.passive:hover						{background-color: #999;}

/*Mobile Navi*/
.mobile_link .navi{background-color: transparent; color: #fff; }
/* ends blue css
***********************************************************************************************************************************/
/**************************************************************************************************************************************************************
                                                               ENDS Header MENU
*************************************************************************************************************************************************************
*************************************************************************************************************************************************************/

/**************************************************************************************************************************************************************
                                                               Footer
*************************************************************************************************************************************************************
*************************************************************************************************************************************************************/
#footerdiv, #contentdiv, #nrgdiv, .nrgdiv{ margin:0 auto; width:955px; text-align:left; }
#footer{ width:100%; padding-bottom:64px; margin-top:40px; font-family: 'Open Sans', sans-serif;}
#footerdiv{ position:relative; z-index:0;}
#footerdiv{ border-top:solid 1px #d0d0d0; }
#footer{  background: -moz-linear-gradient(top, rgba(125,185,232,0) 23%, rgba(125,185,232,0.1) 30%, rgba(82,119,135,0.7) 73%, rgba(82,119,135,1) 94%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(23%,rgba(125,185,232,0)), color-stop(30%,rgba(125,185,232,0.1)), color-stop(73%,rgba(82,119,135,0.7)), color-stop(94%,rgba(82,119,135,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(125,185,232,0) 23%,rgba(125,185,232,0.1) 30%,rgba(82,119,135,0.7) 73%,rgba(82,119,135,1) 94%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(125,185,232,0) 23%,rgba(125,185,232,0.1) 30%,rgba(82,119,135,0.7) 73%,rgba(82,119,135,1) 94%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(125,185,232,0) 23%,rgba(125,185,232,0.1) 30%,rgba(82,119,135,0.7) 73%,rgba(82,119,135,1) 94%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(125,185,232,0) 23%,rgba(125,185,232,0.1) 30%,rgba(82,119,135,0.7) 73%,rgba(82,119,135,1) 94%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#527787',GradientType=0 ); /* IE6-9 */
}

.sitemap{ padding:24px 0; font-size:14px; line-height:1.4em; }
.sitemap ul{ float:left; margin-right:50px; }
.sitemap ul ul{float:none; margin:0;}
.sitemap li strong{ display:block; margin-bottom:.5em;}
.sitemap li li{ font-size:12px;}
.sitemap li a, .sitemap li a:visited, .sitemap li a:link{ color:#000000; text-decoration:none;}
.sitemap li li a, .sitemap li li a:visited, .sitemap li li a:link{ color:#000000;}
.sitemap li a:hover, .sitemap li li a:hover,.sitemap li a:focus, .sitemap li li a:focus{ text-decoration:underline; color:#888888;}
.sitemap li a.tinynew{ display:block; padding-right:30px; margin-right:-20px; color:#000000 !important;}
.sitemap li a.tinynew:hover{ display:block; padding-right:30px; margin-right:-20px; color:#888888 !important;}
*html .sitemap li a.tinynew{ margin-right:0;}

.supportfooter{ top:110px; right:0; width:300px; text-align:right; float:right;}
a.supportnumber{ display:block; width:137px; height:32px;}

.supportfooter p { font-size:14px; color:#ddd;}
.supportfooter p a, .supportfooter p a:visited, .supportfooter p a:link{ color:#fff;}
.fl-right{ float:right;}
.fl-left{ float:left;}
ol, ul { list-style: none;}
/**************************************************************************************************************************************************************
                                                               ENDS Footer
*************************************************************************************************************************************************************
*************************************************************************************************************************************************************/

/* FLAGS LANGUAGES */
#flags_languages
{
    width:100%;
    height:20px;

    margin-top:0px;
    margin-bottom:10px;
    overflow:hidden;

}
.flagImages
{
    float:right;
    height:100%;
    margin-right:10px;

}

.flag.active > img{opacity:1;}
.flag > img:hover{opacity:1;}
.flag > img{opacity: 0.55;}

.container_full .pre-header{ margin: 0 auto; padding: 0; border-bottom: 1px solid lightgray; height: 40px; line-height: 40px; }
.container_full .pre-header .title{
    margin: 0 auto; padding: 0; font-size: 26px; padding-left: 10px; float: left;
    /*color:#527787;*/
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
}
.container_full .pre-header .languages{margin: 0 auto; padding: 0; float: right; padding-top: 4px;}
.languages ul{ display: inline; margin: 0 auto; padding: 0; }
.languages ul > li { display: inline; margin: 0 auto; padding: 0; float: right; padding-right: 5px; padding-left: 5px; opacity: 0.3;}
.languages ul > li.active{ opacity: 1; }
.languages ul > li:hover{ opacity: 1; cursor: hand; cursor: pointer; }
.icon-deutsch{ display: block; margin: 0 auto; padding: 0; background: url('../images/deutsch.png'); background-repeat: no-repeat; background-position: center center; width: 32px; height: 32px; }
.icon-english{ display: block; margin: 0 auto; padding: 0; background: url('../images/english.png'); background-repeat: no-repeat; background-position: center center; width: 32px; height: 32px; }
.icon-french{ display: block; margin: 0 auto; padding: 0; background: url('../images/french.png'); background-repeat: no-repeat; background-position: center center; width: 32px; height: 32px; }
.icon-romanian{ display: block; margin: 0 auto; padding: 0; background: url('../images/romanian.png'); background-repeat: no-repeat; background-position: center center; width: 32px; height: 32px; }


.container_full .content-wrapper{ margin: 0 auto; padding-left: 10px; padding-right: 10px; margin-top: 20px;}

/* Generic */
.clean{ margin: 0 auto; padding: 0; border: none; }
a { text-decoration: none; color:inherit; }

/* css for news sidebar
************************/
.content-wrapper .sidebar-right{ margin: 0 auto; padding: 0; border: 1px solid #ececec; float: right; display: block; width: 300px;}
.sidebar-right h3{ height: 40px; line-height: 40px; background-color: #870D27; color: white; font-family: 'Open Sans', sans-serif; text-align: center; }
.sidebar-right li{ margin-left: 10px; margin-right: 10px; padding-top: 15px; padding-bottom: 5px; border-bottom: 1px solid #ececec; }
.sidebar-right .news-title{ color: black; }
.sidebar-right span{ font-family: 'Asap', sans-serif; font-size: 14px; font-style: italic; padding-left: 5px; color: #870D27;}
.sidebar-right span:hover{ color: #4184CC; }
.sidebar-right h4{ padding-top: 10px; padding-left: 10px; padding-bottom: 10px; padding-right: 10px; font-family: 'Roboto Condensed Light', sans-serif; text-align: center; color: #870D27;}
.sidebar-right a:hover{ color: #4184CC; }
/* ends css for news sidebar
************************/

/*css for addmission  pages
************************/
.information{
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    height:auto;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size:14px;
    text-align: justify;
}

.documents{
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    border: 1px solid;
    border-color: #ececec;
    height:auto;
    padding-top: 10px;
}

.repartition{
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    height:auto;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size:13px;
    text-align: justify;
}

.line-item{
    margin-right: 25px;
    margin-left:25px;
    margin-bottom: 10px;
    padding: 0px;
    height: 22px;
}

.doc-url:hover{
    text-decoration: underline;
}

.doc-url:active{
    text-decoration: underline;
    color: #870d26;
}

.doc-url{
    position: absolute;
    margin-left: 25px;
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
    line-height: 22px;

    font-family: 'Istok Web';
    font-style: italic;
    font-weight: 400;
    font-size:16px;
}

.doc-image{
    position:absolute;
    margin-bottom: 3px;
    margin-top: 3px;
}

.line-wrapper{
    width: auto;
    height: auto;
    float: left;
    margin-left: 70px;
    display:none;
}
.line-wrapper p{
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size:22px;
    color:#527787;
}

#default-context{
    display:block;
}

#2013,#2012,#2011,#2010,#2009,#2008{
    visibility: hidden;
}
.timeline{
    float: right;
    width: auto;
    height: auto;
    margin-left: 25px;
    font-family: 'Open Sans',sans-serif;
    font-size: 17px;

    font-family: 'Istok Web';
    font-style: italic;
    font-weight: 400;
    font-size:18px;
}

.timeline-list{
    display:block;
    margin:auto;
    padding: 0;
}

.timeline-list-item{
    padding:0px;
    margin: 20px;
}

.timeline-list-item:hover{
    text-decoration: underline;
}

.timeline-list-item:active{
    text-decoration: underline;
    color: #870d26;
}
/*end css for addmission  pages
************************/

/* css for home page
***/
.content-wrapper .home-description{ margin: 0 auto;
    padding: 0;
    outline: 0;
    color: #870D27;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 25px; }
.content-wrapper .home-text{
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    padding: 0;
    margin-top: 20px;
    color: black;
    line-height: 20px;
    font-size: 17px;
    border-top: 1px solid #ececec;
    widtH: 900px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
}

/* ends css for home page
***/

/* css for education main page
***/
.content-wrapper .education-main{  }
.content-wrapper .education-main .ed-main-text{ float: left;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 25px;
    text-align: justify;
}
.content-wrapper .education-main .ed-main-text h2{ font-size: 19px;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter; }
.content-wrapper .education-main .ed-main-licenta{  }
.content-wrapper .education-main .ed-main-master{  }
.content-wrapper .education-main .ed-main-doctorat{  }
.content-wrapper .education-main .ed-main{ display: block;
    float: left;
    widtH: 300px;
    margin: 0px 13px;
    text-align: center; }
.content-wrapper .education-main .ed-main .ed-main-title{ font-family: 'Open Sans', sanss-serif;
    font-size: 23px;
    color: #870D27;
    padding-bottom: 15px; }


.content-wrapper .education-main .ed-main ul{ margin-left: 20px; }
.content-wrapper .education-main .ed-main ul li{ margin-bottom: 10px; min-height: 200px; }
.content-wrapper .education-main .ed-main ul li i{ float: left; }
.content-wrapper .education-main .ed-main ul li h4{ float: left;
    font-family: 'Asap', sans-serif;
    color: #777777;
    font-size: 18px; }
.content-wrapper .education-main .ed-main ul .language{ padding-bottom: 10px; }
.content-wrapper .education-main .ed-main ul .language i{ margin-right: 10px; }

.content-wrapper .education-main .ed-main .artefacts{ margin-left: 20px; }
.content-wrapper .education-main .ed-main .artefacts i{ margin-right: 10px; }
.content-wrapper .education-main .ed-main .artefacts p{ float: left; padding-bottom: 10px; text-align: left; width: 100%; }
.content-wrapper .education-main .ed-main .artefacts a { font-style: italic; }
.content-wrapper .education-main .ed-main .artefacts a:hover{ color: rgb(86, 134, 183); }
.content-wrapper .education-main .ed-main .artefacts a:active{ color: #870D27; }
/* ends css for education main page
***/

/* css for schedule page
***/
.content-wrapper .schedule{

}

.schedule .sch-content .sch-utils{
    padding-left: 50px;
    margin-bottom: 15px;
}
.schedule .sch-content .sch-utils ul{}
.schedule .sch-content .sch-utils ul li{ padding-top: 5px;
    padding-bottom: 5px; }
.schedule .sch-content .sch-utils ul li i{ float: left;
    padding-right: 10px;
    background-repeat: no-repeat; }
.schedule .sch-content .sch-utils ul li a{
    font-family: 'Open Sans', sans-serif;
    color: #4184CC;

}
.schedule .sch-content .sch-utils ul li a:hover{
    color: #870D27;
}
.schedule .sch-content .sch-studies{
    border-top: 1px solid #ececec;
    width: 75%;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}
.schedule .sch-content .sch-studies h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 29px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.schedule .sch-content .sch-studies ul{
    text-align: left;
}
.schedule .sch-content .sch-studies .alfa{
    float: left;
}
.schedule .sch-content .sch-studies .beta{
    float: left;
    padding-left: 134px;
}
.schedule .sch-content .sch-studies .omega{
    float: right;
}

.schedule .sch-content .sch-studies ul li{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.schedule .sch-content .sch-studies ul li i{
    float: left;
    padding-right: 10px;
    background-repeat: no-repeat;
}
.schedule .sch-content .sch-studies ul li a{
    font-family: 'Open Sans', sans-serif;
    color: #4184CC;
}
.schedule .sch-content .sch-studies ul li a:hover{
    color: #870D27;
}

/****************************************** CSS for the CONTACT.php page **************************************************/
.schedule .sch-content .sch-studies .title{ font-size: 20px;
    padding-left: 26px; }
/* ends css for schedule page
***/

/* css for foreign-internships.php page
***/
.content-wrapper .foreign-interships{  }
.foreign-interships .description{
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    width: 100%;
    margin-bottom: 30px;
}

.foreign-interships .description .fi-scolarships{

}

.foreign-interships .fi-tab{
    border-top: 1px solid #ececec;
    width: 90%;
    padding: 20px 2%;
    text-align: center;
    /*float: left;*/
}

.foreign-interships .fi-tab > h4{
    color: #870D27;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    padding-bottom: 20px;
}

.foreign-interships .fi-tab .internship{
    text-align: left;
    margin-bottom: 30px;
}

.foreign-interships .fi-tab .internship a{
    font-family: 'Asap', sans-serif;
    color: #4184CC;
    font-size: 19px;
}

.foreign-interships .fi-tab .internship p{
    margin-top: 15px;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    padding-left: 15px;
    border-left: 3px ridge #ececec;
}

/* ends css for foreign-internships.php page
***/

/* css for students main page
***/
.content-wrapper .students{ width: 100%;
    display: inline-block;
    text-align: center; }

.students-h2-title{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: bold;
    height: 45px;
    line-height: 45px;
    color: #870D27;
    text-align: center;
}

.students-content-wrapper{
    border-top: 1px solid #ececec;
    margin-top: 25px;
    padding-top: 15px;
}

.content-wrapper .students .students-item{
    border: 3px ridge #ececec;
    border-bottom: 2px ridge #ececec;
    border-top: 2px ridge #ececec;
    width: 460px;
    margin: 20px 12px;
    float: left;
    text-align: center;
    display: inline-block;
    background-color: whitesmoke;
}


.content-wrapper .students .students-item img{
    margin-top: 10px;
    margin-left: 4px;
    margin-right: 4px;
    max-width: 454px;
    max-height: 150px;
    height:100%;

    -webkit-box-shadow: 0 0 6px rgba(0,0,0, .75);
    -moz-box-shadow: 0 0 6px rgba(0,0,0, .75);
    box-shadow: 0 0 6px rgba(0,0,0, .75);
}


.content-wrapper .students .item-description{
    display: block;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.content-wrapper .students .item-description h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    padding-bottom: 5px;
}


.content-wrapper .students .item-description p{
    padding-left: 15px;
    text-align: justify;
    padding-right: 15px;
}
/* ends css for students main page
***/


.content-wrapper .contact-main
{
    width:100%;
    height:auto;
    display: block;
    float:left;

    font-family: 'Open Sans', sanss-serif;
}
.content-wrapper .contact-titles{width:100%;height:auto;float:left;}
.content-wrapper .contact-titles .contact-titles-map{width:61%;height:auto;float:left;}
.content-wrapper .contact-titles p
{
    font-size: 24px;
    color: #870D26;
    padding-bottom:10px;

    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.content-wrapper .contact-titles .contact-titles-info{width:39%;height:auto;float:left;}
.content-wrapper .contact-map-wrapper
{
    width:100%;
    height:400px;
    float:left;

    border:solid 1px #dfdfdf;
}
.content-wrapper .contact-map-wrapper .contact-map
{
    width:95%;
    margin-left:2.5%;
    margin-right:2.5%;
    padding-top:10px;


    float:left;
}
.content-wrapper .contact-info-wrapper
{
    width:39%;
    height:350px;
    float:right;
    margin-top:10px;
    border:solid 1px #dfdfdf;
}
.content-wrapper .contact-info-wrapper .contact-info
{
    width:95%;
    margin-left:2.5%;
    margin-right:2.5%;
    padding-top:10px;

    text-align: justify;
}
.content-wrapper .contact-info-wrapper .contact-info .fac{margin-top:0; font-size:14px;}
.content-wrapper .contact-info-wrapper .contact-info .upb{margin-top:0; font-size:16px;}
.content-wrapper .contact-info-wrapper .contact-info .det{margin-top:10px;margin-bottom:0; font-size:16px; color:#870d26;}
.content-wrapper .contact-info-wrapper .contact-info .detMic{margin:0;padding:0;margin-left:20px; font-size:12px; color:#870d26;}

.content-wrapper .contact-form{position:relative;width:59%; float:left; height:350px; margin-top:10px; border:solid 1px #dfdfdf;}
.content-wrapper .contact-form-title{width:98%;margin:0 1% 0 1%; height:auto;}
.content-wrapper .contact-form-title p{font-size:16px; color:#870d26;font-family: "Trebuchet MS", Helvetica, sans-serif;}

.content-wrapper .contact-form .contact-form-main{width:100%;height:auto;float:left}
.content-wrapper .contact-form .contact-form-main .contact-form-main-content{width:98%;margin-left:1%;margin-right:1%;margin-top:5px;margin-bottom:5px;float:left;}
.content-wrapper .contact-form .contact-form-main .contact-form-main-content .contact-form-main-content-label
{
    width:10%;
    min-width:80px;
    float:left;
}
.content-wrapper .contact-form .contact-form-main .contact-form-main-content .contact-form-main-content-input
{
    width:90%;
    float:left;
}
.content-wrapper .contact-form .contact-form-main .contact-form-main-content .txtIn{
    border:1px solid #a0a0a0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 22px;
    width: 330px;
    max-width: 99%;
}
.content-wrapper .contact-form .contact-form-main .contact-form-main-content .wide{height:80px;}
.content-wrapper .contact-form .contact-form-main-content-btn
{
    position:absolute;
    bottom:10px;
    right:10px;
    float:right;
    width:100%;
}
.content-wrapper .contact-form .contact-form-main-content-btn #btnSend
{

    float:right;
    cursor:pointer;
    padding:5px 15px;
    background:#527787;
    border:1px solid #666666;

    -webkit-box-shadow: 0 0 6px rgba(0,0,0, .75);
    -moz-box-shadow: 0 0 6px rgba(0,0,0, .75);
    box-shadow: 0 0 6px rgba(0,0,0, .75);

    color:#f3f3f3;
    font-size:1.1em;
}
.content-wrapper .contact-form .contact-form-main .contact-form-main-content #btnSend:hover
{
    background-color :#426777;

    -webkit-box-shadow: 0 0 3px rgba(0,0,0, .75);
    -moz-box-shadow: 0 0 3px rgba(0,0,0, .75);
    box-shadow: 0 0 3px rgba(0,0,0, .75);
}
.content-wrapper .contact-form .contact-form-main .contact-form-main-content #btnSend:active
{
    background-color :#a0a0a0;

    -webkit-box-shadow:inset -3 -3 -3px rgba(0,0,0, .75);
    -moz-box-shadow:inset -3 -3 -3px rgba(0,0,0, .75);
    box-shadow:inset -3 -3 -3px rgba(0,0,0, .75);
}



/****************   css for scholarships    *************/
.content-wrapper .scholarships{

}
.content-wrapper .scholarships .image{
    height: 200px;
    margin-bottom: 40px;
}

.content-wrapper .scholarships .image img{
    width: 100%;
    height: 200px;
    position: relative;
    z-index: 0;
}

.content-wrapper .scholarships .image h2{
    width: 500px;
    position: relative;
    top: -100px;
    left: -179px;
    z-index: 10;
    font-family: 'PT Sans', sans-serif;
    font-size: 60px;
    color: #cccccc;
    text-shadow: 1px 2px white, -2px -2px #333;
}

.content-wrapper .scholarships .description{}

.content-wrapper .scholarships .description h4{
    font-family: 'Open sans', sans-serif;
    text-align: justify;
    font-weight: lighter;
    font-size: 20px;
    border-top: 1px solid #ececec;
    width: 900px;
    padding: 5px 40px;
    color: #3e5a66;
}

.content-wrapper .scholarships .categories
{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;
    text-align: center;
}
.content-wrapper .scholarships .categories h3
{
    font-family: 'PT sans', sans-serif;
    color: #3e5a66;
    font-size: 25px;
    margin-bottom: 20px;
}

.content-wrapper .scholarships .categories a
{
    height: 181px;
    float: left;
    padding: 0px 22px;
}

.content-wrapper .scholarships .categories a h5
{
    font-family: 'PT sans', sans-serif;
    font-size: 20px;
    color: #3e5a66;
    font-weight: lighter;
    padding-bottom: 5px;
}

.content-wrapper .scholarships .categories a img
{
    z-index: 0;
}

.content-wrapper .scholarships .categories a:hover > p{
    display: block;
}

.content-wrapper .scholarships .categories a p
{
    display:none;
    padding: 0px 4px;
    position: relative;
    top: -55px;
    color: white;
    background: #3e5a66;
    opacity: 0.8;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    text-align: left;
    z-index: 9;
    width: 192px;
    overflow: hidden;
}

.content-wrapper .scholarships .scholarship{ margin-bottom: 40px; }
.content-wrapper .scholarships .scholarship h3{
    font-family: 'PT sans', sans-serif;
    text-align: center;
    color: #3e5a66;
    margin-bottom: 20px;
    font-size: 25px;
}
.content-wrapper .scholarships .scholarship p{
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    margin-bottom: 20px;
}

.content-wrapper .scholarships .scholarship .necessary-docs{}
.content-wrapper .scholarships .scholarship .necessary-docs h4{
    font-family: 'PT sans', sans-serif;
    color: #3e5a66;
    font-size: 20px;
}
.content-wrapper .scholarships .scholarship .necessary-docs ul{
    margin-left: 20px;
    margin-top: 10px;
}
.content-wrapper .scholarships .scholarship .necessary-docs ul li{}
.content-wrapper .scholarships .scholarship .necessary-docs ul li i{
    float: left;
    padding-right: 15px;
    background-repeat: no-repeat;
}
.content-wrapper .scholarships .scholarship .necessary-docs ul li a{
    font-family: 'Istok Web', sans-serif;
}

/****************  ends css for scholarships    *************/


/****************  css for personal page    *************/
.content-wrapper .personal-page{
    text-align: center;
}

.content-wrapper .personal-page h2{
    width: 498px;
    position: relative;
    top: -100px;
    z-index: 10;
    font-family: 'PT Sans', sans-serif;
    font-size: 60px;
    color: #cccccc;
    text-shadow: 1px 2px white, -2px -2px #333;
}
.content-wrapper .personal-page p{
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-align: justify;
    top: -40px;
    color: #3e5a66;
}
.content-wrapper .personal-page a{
    font-family: 'Istok Web', sans-serif;
    font-size: 20px;
    color: #870D27;
    line-height: 80px;
    height: 80px;
}
.content-wrapper .personal-page a img{
    width: 200px;
    height: 80px;
    border-radius: 15px;
}
/****************  ends css for personal page    *************/


/****************  css for accommodation    *************/
.content-wrapper .accommodation {}
.content-wrapper .accommodation .top h2{
    width: 500px;
    position: relative;
    top: -180px;
    left: -210px;
    z-index: 10;
    font-family: 'PT Sans', sans-serif;
    font-size: 60px;
    color: rgb(222, 221, 227);
    text-shadow: 1px 2px white, -2px -2px #333;
}

.content-wrapper .accommodation .top .description{
    color: #3e5a66;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-align: justify;
    position: relative;
    top: -45px;
    padding: 15px 15px;
    border-bottom: 4px double #ececec;
}

.content-wrapper .accommodation .gallery{

}

.content-wrapper .accommodation .gallery a{
    padding: 11px 22px;
    float: left;
}

.content-wrapper .accommodation .gallery img{
    width: 200px;
    height: 150px;
}
/****************  ends css for accommodation    *************/

/****************  css for ong    *************/
.content-wrapper .ong h2{
    width: 600px;
    position: relative;
    top: -82px;
    left: -47px;
    z-index: 10;
    font-family: 'PT Sans', sans-serif;
    font-size: 60px;
    color: rgb(255, 174, 93);
    text-shadow: 1px 2px white, -2px -2px #333;
}

.content-wrapper .ong .description{
    font-family: 'Open Sans', sans-serif;
    color: #3e5a66;
    font-size: 20px;
    text-align: justify;
    position: relative;
    top: -40px;
    padding: 0px 20px;
}

.content-wrapper .ong .ong-items .ong-item{
    float: left;
    width: 50%;
    text-align: center;
    margin-bottom: 50px;
    height: 200px;
    line-height: 200px;
}

.content-wrapper .ong .ong-items .ong-item a img{
    width: 300px;
    height: 200px;
}
/****************  ends css for ong    *************/


/****************  css for foreign students    *************/
.content-wrapper .foreign-students{

}

.content-wrapper .foreign-students .image{

}

.content-wrapper .foreign-students .image h2{
    width: 498px;
    position: relative;
    top: -70px;
    left: -238px;
    z-index: 10;
    font-family: 'PT Sans', sans-serif;
    font-size: 60px;
    color: rgb(223,155,134);
    text-shadow: 1px 2px white, -2px -2px #333;
}

.content-wrapper .foreign-students .image p{
    font-family: 'Open Sans', sans-serif;
    color: #3e5a66;
    font-size: 20px;
    text-align: justify;
    padding: 0px 15px;
    position: relative;
    top: -40px;
}

.content-wrapper .foreign-students .gallery a{
    padding: 11px 22px;
    float: left;
}

.content-wrapper .foreign-students .gallery img{
    width: 200px;
    height: 150px;
}


.content-wrapper .foreign-students .docs{
    padding: 20px 15px;
    border-bottom: 4px double #ececec;
    margin-bottom: 50px;
    padding-top: 0;
}


.content-wrapper .foreign-students .docs h4{
    font-family: 'PT sans', sans-serif;
    color: #3e5a66;
    font-size: 20px;
}
.content-wrapper .foreign-students .docs ul{
    margin-left: 20px;
    margin-top: 10px;
}

.content-wrapper .foreign-students .docs ul li i{
    float: left;
    padding-right: 15px;
    background-repeat: no-repeat;
}
.content-wrapper .foreign-students .docs ul li a{
    font-family: 'Istok Web', sans-serif;
}
/****************  ends css for foreign students    *************/

/****************  css for about main page    *************/
.content-wrapper .about{ width: 100%;
    display: inline-block;
    text-align: center; }

.students-h2-title{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: bold;
    height: 45px;
    line-height: 45px;
    color: #870D27;
    text-align: center;
}

.students-content-wrapper{
    border-top: 1px solid #ececec;
    margin-top: 25px;
    padding-top: 15px;
}

.content-wrapper .about .about-item{
    border: 3px ridge #ececec;
    border-bottom: 2px ridge #ececec;
    border-top: 2px ridge #ececec;
    width: 460px;
    margin: 20px 12px;
    float: left;
    text-align: center;
    display: inline-block;
    background-color: whitesmoke;
}


.content-wrapper .about .about-item img{
    margin-top: 10px;
    margin-left: 4px;
    margin-right: 4px;
    max-width: 454px;
    max-height: 150px;
    height:100%;

    -webkit-box-shadow: 0 0 6px rgba(0,0,0, .75);
    -moz-box-shadow: 0 0 6px rgba(0,0,0, .75);
    box-shadow: 0 0 6px rgba(0,0,0, .75);
}


.content-wrapper .about .item-description{
    display: block;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.content-wrapper .about .item-description h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    padding-bottom: 5px;
}


.content-wrapper .about .item-description p{
    padding-left: 15px;
    text-align: justify;
    padding-right: 15px;
}
/****************  ends css for about main page    *************/

/****************  css for photo gallery page    *************/
.content-wrapper .about .foto
{
    width:950px;
}
/****************  ends css for Photo gallery page    *************/

/****************  css for Alumni page    *************/
.content-wrapper .alumni
{
    width:920px;
    height:auto;
    margin:auto;
    display:block;
}

.content-wrapper .alumni .alumni-heading
{
    width:900px;
    height:auto;
    margin:auto;
    display:block;
}

.content-wrapper .alumni .alumni-heading .imgHeadingAlumni
{
    width:100%;
}

.content-wrapper .alumni .alumni-content
{
    width:900px;
    height:auto;
    margin:auto;
    display:block;

    margin-bottom:10px;

    border-top: 1px solid #dadada;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
}

.content-wrapper .alumni .alumni-content .alumni-content-title
{
    width:880px;
    height:auto;
    padding-top:10px;
    padding-bottom:5px;
    padding-left:10px;
    padding-right:10px;

    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size:26px;
    color:#870d26;
}

.content-wrapper .alumni .alumni-content .alumni-content-image
{
    width:auto;
    height:auto;
    padding-top:10px;
    padding-bottom:5px;
    padding-left:10px;
    padding-right:10px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size:14px;
}

.content-wrapper .alumni .alumni-content .alumni-content-content
{
    width:880px;
    height:auto;
    padding-top:10px;
    padding-bottom:5px;
    padding-left:5px;
    padding-right:5px;
    text-align: justify;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size:14px;
}
/****************  ends css Alumni gallery page    *************/

/****************  css for Partners page    *************/
.content-wrapper .partners
{
    width:920px;
    height:auto;
    margin:auto;
    display:block;


}

.content-wrapper .partners .partners-heading
{
    width:900px;
    height:auto;
    margin:auto;
    display:block;
}

.content-wrapper .partners .partners-heading .imgHeadingParteneri
{
    width:100%;
}

.content-wrapper .partners .level-one-partners
{
    width:900px;
    height:auto;
    margin:auto;
    display:block;

    margin-bottom:20px;

    border-top: 1px solid #dadada;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
}

.content-wrapper .partners .level-one-partners .one-partner-title
{
    width:880px;
    height:auto;
    padding-top:10px;
    padding-bottom:5px;
    padding-left:10px;
    padding-right:10px;

    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size:26px;
    color:#870d26;
}

.content-wrapper .partners .level-one-partners .one-partner-content
{
    width:880px;
    height:auto;
    padding-top:10px;
    padding-bottom:5px;
    padding-left:5px;
    padding-right:5px;
    text-align: justify;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size:14px;
}

.content-wrapper .partners .level-two-partners
{
    width:900px;
    height:auto;
    margin:auto;
    display:block;

    margin-bottom:10px;

    border-top: 1px solid #dadada;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
}

.content-wrapper .partners .level-two-partners .two-partner-title
{
    width:880px;
    height:auto;
    padding-top:10px;
    padding-bottom:5px;
    padding-left:10px;
    padding-right:10px;

    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size:22px;
    color:#870d26;
}

.content-wrapper .partners .level-two-partners .two-partner-image
{
    width:auto;
    height:auto;
    padding-top:10px;
    padding-bottom:5px;
    padding-left:10px;
    padding-right:10px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size:14px;
}

.content-wrapper .partners .level-two-partners .two-partner-content
{
    width:880px;
    height:auto;
    padding-top:10px;
    padding-bottom:5px;
    padding-left:5px;
    padding-right:5px;
    text-align: justify;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size:14px;
}

/****************  ends css for Partners page    *************/


/*** C O L O R S
    #3e5a66 ceva albastru
    #870D27 ceva visiniu
***/

/*
Open sans	     >> content
Ubuntu Mono		 >> input
PT sans    		 >> title / heading / menu
Istok Web  		 >> link
*/