/* ' Header
----------------------------------------------------------------------------------------------------*/
#header_wrapper{
    position: relative;
    padding: 40px 0;
}
#header{
    width: 940px;
}
#header #logo{
    padding: 15px 10px;
    position: relative;
    width: 135px;
}
ul#mainmenu > li{
    height: 60px;
    padding: 0;
    margin: 0;
    float: left;
    position: relative;
}
ul#mainmenu > li > a{
    height: 18px;
    padding: 21px;
}
.mobile_link{
    display: none;
}
.search_bar input[type="text"]{
    margin-top: 20px;
}
