/*Main Menu*/
#header							{background-color: #fefefe;}

/*Main Menu*/
#logo																							{background:url('../images/logo/blue.png') no-repeat 10px 15px;}
#logo img																						{opacity: 1;}

ul#mainmenu > li a.active	{
    background: #3a76b2; /* Old browsers */
    background: -moz-linear-gradient(top,  #450000 0%, #79102f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#450000), color-stop(100%,#79102f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #450000 0%,#79102f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #450000 0%,#79102f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #450000 0%,#79102f 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #450000 0%,#79102f 100%); /* W3C */
}

ul#mainmenu > li a																		{color: #fff;}
ul#mainmenu > li a:hover,ul#mainmenu > li a.hover							{background: #444;}

/*Menu Gradient Color*/
#header,ul#mainmenu > li:first-child:before,.search_bar:before, .mobile_link:before{
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #fcfcfc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#fcfcfc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#fcfcfc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#fcfcfc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#fcfcfc 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#fcfcfc 100%); /* W3C */
}
ul#mainmenu{
    background: #5da1c9; /* Old browsers */
    background: -moz-linear-gradient(top,  #550000 0%, #870d26 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#550000), color-stop(100%,#870d26)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #550000 0%,#870d26 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #550000 0%,#870d26 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #550000 0%,#870d26 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #550000 0%,#870d26 100%); /* W3C */
}

/*Search Bar*/
.search_bar input[type="text"]					{color: #666;}
.search_bar .search_button						{background: url('../images/icons/search_icon.png') no-repeat 4px 22px #fcfcfc;}

/*Header Text*/
.header_text	{background-color: #f3f3f3; border-top: 1px solid #dadada; border-bottom: 1px solid #dbdbdb;}

/*Sub Menu*/
ul#mainmenu li ul li a				{border-bottom: 1px solid #555; background-color: #444; color: #b7b7b7;}
ul#mainmenu li ul li a:hover		{color: #fff;}
